*, *::before, *::after{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 0;
  margin: 0;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.app{
  display: grid;
  justify-content:center;
  align-content:center;
  min-height: 100vh;

}

.app .pokemon{
  font-size: 1.5rem;
  color: rgb(14, 73, 63);
  text-align: center;
}

.app button{
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: rgba(19, 151, 129, 0.55);
}

.loading{
  display:grid;
  justify-content:center;
  align-content:center;
  min-height:100vh;
  font-size: 2rem;
  color: rgb(14, 73, 63);
}

.button_box{
  display:flex;
  justify-content:center;
}

.button_box button:hover{
  background-color: rgba(19, 151, 129, 0.9);
}